.allpackages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.allKard {
  width: 370px;
}

.allKardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}

.packagesKontainer{
    padding: 2%;
}
