.c-card {
  img {
    transition: transform 0.3s ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}


.element {
    max-height: 3em; /* Set the maximum height to limit the number of lines */
    overflow: hidden; /* Hide any content that exceeds the maximum height */
    text-overflow: ellipsis; /* Add an ellipsis (...) to indicate that content is truncated */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
  }

  .ParagraphElememt{
    max-height: 30em; /* Set the maximum height to limit the number of lines */
    overflow: hidden; /* Hide any content that exceeds the maximum height */
    text-overflow: ellipsis; /* Add an ellipsis (...) to indicate that content is truncated */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
  }
